@font-face {
    font-family: Koni;
    src: url("../fontss/KoniBlack.otf");
}
@font-face {
    font-family: Bahn;
    src: url("../fontss/bahnschrift.ttf");
}

html{
    scroll-behavior: smooth;
}
header{
    position: relative;
}
body{
    margin: 0;
}

/* Шрифты */
.shrift20{
    font-family: Bahn;
    font-size: 20px;
    color: #89594F;
}
.shrift14 {
    font-family: Bahn;
    font-size: 14px;
    color: #89594F;
}
.shrift30{
    font-family: Koni;
    font-size: 30px;
    color: #89594F;
}
.shrift50{
    font-family: Koni;
    font-size: 50px;
    color: #ffffff;
    -webkit-text-stroke: 2px #89594F; /* Ширина и цвет обводки для WebKit (Safari, Chrome) */
    /* text-stroke: 1px black;  Ширина и цвет обводки */
}
/* Шрифты */

/* Отступы */
.otstup100{
    height: 100px;
}
.otstup80{
    height: 80px;
}
.otstup60{
    height: 60px;
}
.otstup40{
    height: 40px;
}
.otstup20{
    height: 20px;
}
/* Отступы */

/* Обложка сайта */
.head0{
    background-image: url("../img/Обложка.png");
    height: 1080px;

    background-size: cover;
    background-attachment: fixed;
    width: 100%; 
}
/* Обложка сайта */

/* Центр */
.center-div {
    display: flex;
    justify-content: center;
}
.center-text {
    text-align: center;
  }
/* Центр */

/* Градиенты */
.gradient_white{
    height: 60px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}
.gradient_pink_top {
    height: 60px;
    background: rgb(255,236,228);
    background: linear-gradient(0deg, rgba(255,236,228,1) 0%, rgba(255,236,228,0) 100%);
}
.gradient_pink_bottom {
    height: 60px;
    background: rgb(255,236,228);
background: linear-gradient(0deg, rgba(255,236,228,0) 0%, rgba(255,236,228,1) 100%);
}
/* Градиенты */

/* навбар */
.navbar{
    display: flex; 
    width: 100%; 
    justify-content: space-evenly; 
    padding-top: 10px;
    align-items: center;  

    position:sticky;
    top: 0px;
    z-index: 1;
}
/* навбар */

/* Стиль кнопок */
.knopka_style {
    font-family: Bahn;
    font-size: 20px;
    color: #89594F;

    border-style: none;
    border-radius: 50px;

    outline-style: solid;
    outline-width: 1px;
    outline-color: #89594F;
   
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(9px);
    padding: 6px 30px 6px 30px;
    text-decoration: none; /* чтоб ссылка не подчеркивалась */
    transition: all 0.1s; 
    box-shadow: 3px 3px #89594F
}
.knopka_style:hover{
    outline-width: 2px;
    font-weight: bold;
}
.knopka_style:active {
    color: white;
    background-color: #89594F;
}
/* Стиль кнопок */

/* Форма обратной связи */
#contact_form {
    flex: 1;
    display: flex; 
    flex-direction: column;
    width: 80%;
    height: 36px;
    margin-left: 40px;
}
#contact_form input {
    margin: 20px 0px 20px 0px;
    color: #89594F;
    font-size: 20px;
    border-style: solid;
    border-color: #89594F;
    border-radius: 10px;
    line-height: 36px;
    outline: none;
}
#contact_form input::placeholder {
    color: rgba(206, 83, 66, 0.5);
}
#message_input2{
    /* height: 36px; */
    resize: none;
    height: 10em;
    
}
/* Форма обратной связи */


/* Товары */

.shop {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 320px 320px 320px 1fr;
    grid-template-rows: 460px 460px;
}

.box {
    background-color: white;
    border-style: none;
    border-radius: 25px;
    outline-style: solid;
    outline-width: 2px;
    outline-color: #89594F;
    padding: 20px;
}


/* Товары */